@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.hidden {
    display: none;
  }

body {
  background-image: url("../images/little-robot.jpg");
  background-size: cover;
  font-family: 'Domine', serif;
  color: rgb(103, 226, 21);
}

#output {
  font-family: 'Press Start 2P', cursive;
  color:rgb(10, 218, 233)
}

button {
  color: black;
  background-color: rgb(211,106,42);
  border-color: rgb(211,106,42);
}
.btn {
  font-family: 'Domine', serif;
}

.btn:hover {
  cursor: pointer;
}