@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.hidden {
    display: none;
  }

body {
  background-image: url("../images/little-robot.jpg");
  background-size: cover;
  font-family: 'Domine', serif;
  color: rgb(103, 226, 21);
}

h2 {
  color: rgb(250, 82, 118)
}
label {
  color: rgb(250, 82, 199)
}

#output {
  size: 50 em;
}

p {
  font-family: 'Press Start 2P', cursive;
  color: rgb(236, 252, 92);
  font-size: 2em;
}

button {
  color: black;
  background-color: rgb(242,98,0);
  border-color: rgb(242,98,0);
}

.btn {
  font-family: 'Domine', serif;
}

.btn:hover {
  cursor: pointer;
}